language: node_js
before_install:
    - openssl aes-256-cbc -K $encrypted_2a8b79c9dc58_key -iv $encrypted_2a8b79c9dc58_iv
    -in staging-app.yaml.enc -out staging-app.yaml -d
    - openssl aes-256-cbc -K $encrypted_a3c2492b5906_key -iv $encrypted_a3c2492b5906_iv
    -in gce.json.enc -out gce.json -d
    - openssl aes-256-cbc -K $encrypted_0cf0bb82cc50_key -iv $encrypted_0cf0bb82cc50_iv
    -in app.yaml.enc -out app.yaml -d

deploy:
  - provider: gae
    keyfile: GCP_KEY_FILE
    project: GCP_PROJECT_ID
    on:
        branch: master
  - provider: gae
    keyfile: GCP_KEY_FILE
    project: GCP_PROJECT_ID
    config: staging-app.yaml
    on:
        branch: dev